<div class="container" style="margin-top: 2em;">
    <div style="margin-bottom: 1em;">
        <button class="btn btn-outline-primary" (click)="showSections()">Retour aux sections</button>
    </div>
    <h2>Liste des scouts</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Totem</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of scouts">
                <td> {{s.totem}}</td>
                <td>{{s.first_name}}</td>
                <td>{{s.name}}</td>
                <td><button class="btn btn-outline-secondary" (click)="showScout(s.id)">Voir profil</button></td>
            </tr>
        </tbody>
    </table>
</div>