<div class="container" style="margin-top: 2em;">

<div style="margin-bottom: 1em;">
    <button class="btn btn-outline-primary" (click)="showSections()">Retour aux sections</button>
</div>

<div>
    <h2>Totem : {{scout.totem}}</h2> 
    <h3>Nom : {{scout.name}} <br>
    Prénom : {{scout.first_name}} <br>
    Quali : {{scout.quali}} <br>
    Email : {{scout.email}} <br>
    Identifiant : {{scout.id}}</h3>
</div>

<h2>Parcours :</h2>
<table class="table">
    <thead>
        <tr>
            <th class="h5" scope="col">Section</th>
            <th class="h5" scope="col">Depuis</th>
            <th class="h5" scope="col">Jusque</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let section of scout.sections">
            <td><h3>{{section.name}}</h3></td>
            <td><h3>{{scout_sections.get(section.name).from}}</h3></td>
            <td><h3>{{scout_sections.get(section.name).to}}</h3></td>
            <td><button class="btn btn-outline-success" (click)="addSection()">Editer</button></td>
            <td><button class="btn btn-outline-danger" (click)="deleteScout_sections(section.id, scout.id)">Supprimer</button></td>
        </tr>
    </tbody>
</table>
<button class="btn btn-secondary" (click)="addSection()">Ajouter une section</button>

</div>
