<div class="container" style="margin-top: 2em;">
  <div class="row">
    <div class="col-6">
      <form>
        <h2>Section à ajouter :</h2>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Choisi la section</mat-label>
            <mat-select [(ngModel)]="selected_section_id" name="Section">
              <mat-option *ngFor="let section of sectionInterfaces" [value]="section.value">
                {{section.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
      <div class="row">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Depuis</span>
          <input type="number" [(ngModel)]="scout_sections.from" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" min="1900" max="2100">
        </div>
      </div>
      
      <div class="row">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Jusque</span>
          <input type="number" [(ngModel)]="scout_sections.to" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" min="1900" max="2100">
        </div>
      </div>

    <button class="btn btn-outline-primary" style="margin-right: 0.5em;" (click)='addScoutToSection()'>Enregistrer</button>
    <button class="btn btn-outline-secondary" (click)="cancel()">Annuler</button>
    </div>
  </div>
</div>
