<nav class="navbar navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Unité Saint-Paul 20e Escault</a>
  </div>
</nav>

<div class="container" style="margin-top: 2em;">
<div class="row" style="margin-bottom: 2em;">
    <button (click)="listScouts()" class="btn btn-primary col" style="margin-right: 1em;">Chercher un scout</button>
    <button (click)="addScout()" class="btn btn-primary col">Ajoute ton parcours</button>
</div>
<div>

    <div class="row align-items-center">
      <div class="col">
        <form>
        <mat-form-field appearance="fill">
          <mat-label>Choisi la section</mat-label>
          <mat-select [(ngModel)]="selected_section_id" name="Section">
            <mat-option *ngFor="let section of sectionInterfaces" [value]="section.value">
              {{section.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      </div>
      <div class="col-auto">
        <label class="form-label h5" for="startdate">Depuis</label>
      </div>
      <div class="col">
        <input id="startdate" type="number" class="form-control" [(ngModel)]="from" placeholder=" " min="1900" max="2100">
      </div>
      <div class="col-auto">
        <label class="form-label h5" for="enddate">Jusque</label>
      </div>
      <div class="col">
        <input id="enddate" type="number" class="form-control" [(ngModel)]="to" placeholder=" " min="1900" max="2100">
      </div>
      <div class="col">
        <button (click)='showScoutsForSection(selected_section_id)' class="btn btn-primary">Afficher scout</button>
      </div>
    </div>
    <br> 


</div>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Totem</th>
        <th scope="col">Depuis</th>
        <th scope="col">Jusque</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of scouts">
        <td> {{s.totem}}</td>
        <td>{{s.scout_sections.from}}</td>
        <td>{{s.scout_sections.to}}</td>
      </tr>
  </table>
</div>

</div>
